body {
  min-height: 700px;
  height: auto;
  width: 100%;
  margin: 4% auto;
  background-image: url(../images/fondo1.jpg);
  background-repeat: repeat;
  background-size: 100%;
  padding: 4em;
  color: #000000;
  font-family: "Anonymous Pro", monospace; }

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  font-size: 62, 5%; }

.navbar {
  text-align: right;
  display: flex;
  width: 100%; }

.container {
  margin: 15px; }

.line-1 {
  position: relative;
  top: 50%;
  width: 30rem;
  margin: 0 auto;
  border-right: 2px solid #000000;
  font-size: 180%;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%); }

.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal; }

@keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 300px; } }

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(0, 0, 0, 0.75); }
  to {
    border-right-color: transparent; } }

.pronto {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2rem;
  margin: 0 auto;
  font-family: "Courier New";
  border-right: 0.15em solid #0a0a0a;
  animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes blink {
  20% {
    border-color: transparent; } }
