@import "./keyframes";

.anim-typewriter {
  animation:  
      typewriter 4s steps(34) 1s 1 normal both,
      blinkTextCursor 500ms steps(44) infinite normal;
}

.loader {
  border: 15px solid #f3f3f3; 
  border-top: 15px solid #313233;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
} 

.pronto {
  $fs: 2rem;
  overflow: hidden;
  white-space: wrap;
  font-size: $fs;
  margin: 0 auto;
  font-family: "Courier New";
  border-right: 0.15em solid #0a0a0a;
  animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
  
  @media screen and (max-width: 425px) {
      font-size: ($fs / 2) !important;
  }
}
