.formularioContact {
    background-color:rgba(171, 193, 198, 0.87) 
}

.mail {
    background-color:rgb(109, 91, 109); 
}

.socialMedia {
    margin-top: 4%;
    background-color:rgb(173, 137, 167); ;
}

.aboutMeInfo {
    background-color: rgb(109, 91, 109)
}

.aboutMeText {
    background-color: white;
    
}

.skils_cont{
    background-color:white;
}
