.formularioContact {
    background-color:rgba(171, 193, 198, 0.87) 
}

.mail {
    background-color:rgb(109, 91, 109); 
}

.socialMedia {
    margin-top: 4%;
    background-color:rgb(173, 137, 167); ;
}

.aboutMeText {
    background-color: rgb(109, 91, 109)
}

.skills_content{
    background-color: rgba(171, 193, 198, 0.87);
}

.aboutMeInfo{
    background-color: white;
}

.tips{
    background-color: white;
}

.friend_boostrap{
    background-color:rgb(109, 91, 109)
}