body {

        min-height: 700px;
        height: auto;
        width: 100%;
        margin: 4% auto;
        background-image: url(../images/fondo1.jpg);
        background-repeat: repeat;
        background-size: 100%;
        padding: 4em;
        color: $color-primary;
        font-family: "Anonymous Pro", monospace;
      }
      