

header{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $color3;
  font-size:$font-size-primary;
}

.navbar{
  text-align: right;
  display: flex;
  width: 100%;

  
  
}
