@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink {
    20% { border-color: transparent }
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 17ch;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(0, 0, 0, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}