
html {
    font-size: 62,5%;
}

body {
    min-height: 100%;
    width: 100%;
    background-image: url(../images/fondo1.jpg);
    background-repeat: repeat;
    background-size: 100%;
    color: $color-primary;
    font-family: "Anonymous Pro", monospace;
}

main {
    $pd:2em;
    min-height: 100%;
    padding: $pd;
    @media screen and (min-width: 768px){
        padding: ($pd * 2);
    }
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: $color3;
    font-size:$font-size-primary;
    margin-bottom: 56px;
    nav {
        text-align: right;
        display:inline-block;
        width: 100%;
    }
    ul {   
        text-align: right;
        display: inline-block;
        width: 100%;
        padding: 0 1rem;
        li {
            display: inline-block;
            a {
                text-decoration: none;
                border:none;
                border-color: #000000;
                border-radius: 50px;
                background-color: none;
                color: rgb(255, 255, 255);
                padding: 0.3em;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            
                &:hover {
                    background-color:rgba(171, 193, 198, 0.87);
                    border-color: #000000;
                }
            }
        }
    }
}

footer {
    display:block;
    margin-top: 7% ;
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.87);
    color: white;
}

h2 {
    display: inline;
    font: 4rem Helvetica, Sans-Serif;
    letter-spacing: -5px;
    color:rgb(109, 91, 109);
    
    span {
        text-shadow: -10px 1px 1px #87b6c2;
    }
    
    @media screen and (min-width: 678px) {
        font-size: 8rem;
    }
}
 
h3{
    color: rgb(109, 91, 109);
}